    .container {
        border: 3px solid rgb(75, 218, 18);
        width: 30%;
        border-radius: 30px;
        padding: 20px;
        margin-top: 5%;

    }

    #imgUser {
        border-radius: 50%;
        border: 1px solid #0f0;
        width: 100px;


    }

    #btn {
        margin-left: 40%;
    }